@import 'main.scss';

.footerMobile {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  background-color: $color-dark;
  width: 100%;
  bottom: 0;
  height: 60px;
}

.imgFooter {
  margin: 10px;
}
