$color-dark: #2f4454;
$color-green: #85a392;
$color-medium: #f5b971;
$color-light: #fdd998;
$color-lighter: #ffecc7;
$color-white: #ffffff;

$font-headline: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;

$breakpoint-phone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
