.Header-bar-blue {
    position: absolute;
    width: 375px;
    height: 75px;
    left: 0px;
    top: -1px;

    background: #2F4454;
}
.logo {
    position: absolute;
	left: 5px;
	top: 3px;
}
.navHeading {
    position: absolute;
width: 130px;
height: 13px;
left: 140px;
top: 10px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;

color: #F5B971;
}
.search-bar {
    position: absolute;
    width: 112px;
    height: 28px;
    left: 252px;
    top: 17px;
    
    background: #85A392;
    border-radius: 20px;
}
.search-icon{
    
    position: absolute;
    left: 90px;
    top: 5px;
    }
.search-here {
    position: absolute;
    top: 7px;
    left: 20px;
    font-size: 10px;

color: #FFFFFF;
}
.background-main{
	position: absolute;
	width: 375px;
	height: 600px;
	left: 0px;
	top: 48px;
	
	background: #FFECC7;
}
.slider-main {
    position: absolute;
    width: 359px;
    height: 41px;
    left: 2px;
    top: 25px;
}
.left-arrow-image {
    position: absolute;
    width: 10.2px;
    height: 17.4px;
    left: 10px;
    top: 90px;
}
.left-arrow-image1{
    position: absolute;
left: 27.44%;
right: 30.39%;
top: 13.72%;
bottom: 13.72%;

background: #2F4454;
}
.right-arrow-image {
	
    position: absolute;
    width: 10.2px;
    height: 17.4px;
    left: 340px;
    top: 90px;

}
.right-arrow-image1 {
    position: absolute;
left: 30.39%;
right: 27.44%;
top: 13.72%;
bottom: 13.72%;

background: #2F4454;
}
.category11{
    position: absolute;
width: 41px;
height: 41px;
left: 43px;
top: 81px;

background: #2F4454;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.category1 {
    position: absolute;
    width:  41px;
    height: 41px;
    left: 43px;
    top: 81px;
}

.category2 {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 123px;
    top: 81px;
}
.category22{
    position: absolute;
width: 41px;
height: 41px;
left: 123px;
top: 81px;

background: #2F4454;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.category3 {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 203px;
    top: 81px;
}
.category33{

    position: absolute;
    width: 41px;
    height: 41px;
    left: 203px;
    top: 81px;
    
    background: #2F4454;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.category4 {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 284px;
    top: 81px;
}
.category44{
    
position: absolute;
width: 41px;
height: 41px;
left: 284px;
top: 81px;

background: #2F4454;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Rectangle-box1-2 {
    position: absolute;
    width: 345px;
    height: 127px;
    right: 32px;
    top: 70px;
}
.Rectangle-box1 {
    position: absolute;
    width: 160px;
    height: 127px;
    left: 15px;
    top: 190px;

}
.Rectangle-box2{
    position: absolute;
    width: 160px;
    height: 127px;
    left: 200px;
    top: 190px;
}
.Rectangle-box3-4 {
    position: absolute;
    width: 345px;
    height: 127px;
    right: 0px;
    top: 150px;
}
.small-elipse {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 130px;
    top: 90px; }

.heart-icon {
        position: absolute;
        left: 0px;
        top: -10px;
    }

.bottom-bar-blue {
    position: absolute;
width: 375px;
height: 58px;
left: 0px;
top: 609px;

background: #2F4454;
}
.profile {
    position: absolute;
    left: 30px;
    top: 11.42px;
    bottom: 12.42px;

}
.add-recepie {
    position: absolute;
    left: 168.75px;
    top: 9.83px;
    bottom: 9.83px;
}
.add-to-fav {

        position: absolute;
        left: 313.83px;
        top: 12.43px;
        bottom: 15.43px;
}